extends layout

block content
  h1= title
  h1 Category: #{category.name}
  hr
  h2 Items
  dl
      each item in category_items
        dt
          a(href=item.url) #{item.name}
        dd #{item.description}

      else
        p This category has no items
