extends layout

block content
  h1= title
  h3 Category: #{category.name}
  h3 Description: #{category.description}
  hr
  h4 Items
  dl
      each item in category_items
        dt
          a(href=item.url) #{item.name}
        dd #{item.description}

      else
        p This category has no items
