extends layout

block content
  h1= title
  ul
    each item in listItem
      li
        a(href=item.url) #{item.name}
        p Price: #{item.price}
        p Stock: #{item.stock}
        if item.image
          img(src='/images/' + item.image, alt=item.name, style='max-width: 200px;')
